.app-container .page-header {
  display: flex;
  padding: 1em 10vw;
  justify-content: space-between;
  overflow-x: hidden; }
  .app-container .page-header .name-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end; }
    .app-container .page-header .name-container img {
      width: 12vw;
      height: 12vw;
      border-radius: 6vw; }
    .app-container .page-header .name-container .name {
      font-family: 'Roboto', sans-serif;
      font-size: 6.8vw;
      line-height: 0.75em;
      font-weight: bold;
      text-transform: uppercase;
      text-indent: 0.2em; }
      .app-container .page-header .name-container .name .first {
        letter-spacing: 0.06em;
        text-indent: 0.25em; }
  .app-container .page-header .location-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end; }
    .app-container .page-header .location-container .contact {
      display: flex;
      align-items: center;
      font-family: 'Roboto', sans-serif;
      font-size: 2.8vw; }
      .app-container .page-header .location-container .contact a {
        color: #000;
        padding-left: 0.3em; }
    .app-container .page-header .location-container .location {
      display: flex;
      align-items: flex-end;
      font-family: 'Pacifico', cursive;
      font-size: 2.6vw;
      filter: drop-shadow(2px 2px 0px #fc9cf1) drop-shadow(3px 3px 0px #9cfc9c) drop-shadow(4px 4px 0px #9ce3fc); }
      .app-container .page-header .location-container .location svg {
        padding-left: 0.2em;
        height: 1.6em;
        width: auto; }
        .app-container .page-header .location-container .location svg .australia {
          fill: none;
          stroke: #000;
          stroke-width: 20;
          stroke-dasharray: 100em;
          animation: australia 10000ms ease-in-out infinite; }
.app-container .container .content {
  padding: 0 10vw;
  padding-bottom: 20vh; }
  .app-container .container .content h1 {
    padding-top: 0.3em; }
  .app-container .container .content h2 small {
    padding-left: 0.5em; }

@media (max-width: 550px) {
  .app-container .page-header {
    flex-direction: column; }
    .app-container .page-header .name-container {
      align-items: center; }
      .app-container .page-header .name-container img {
        width: 24vw;
        height: 24vw;
        border-radius: 12vw; }
      .app-container .page-header .name-container .name {
        font-size: 11vw; }
    .app-container .page-header .location-container {
      padding-top: 1em;
      align-items: center; }
      .app-container .page-header .location-container .contact {
        font-size: 7vw; }
      .app-container .page-header .location-container .location {
        font-size: 6vw; }
        .app-container .page-header .location-container .location svg {
          height: 8vw; } }
@keyframes australia {
  0% {
    stroke-dashoffset: 100em; }
  50% {
    stroke-dashoffset: 0em; }
  100% {
    stroke-dashoffset: -100em; } }

/*# sourceMappingURL=style.css.map */
